!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "Iori Mizutani, Tokyo, Japan", :name => "author"}/
    %link{:href => "/vendor/animate.css/animate.css", :rel => "stylesheet"}/
    %script{:src => "/vendor/jquery/dist/jquery.min.js"}
    %title= @title
  != yield
    
