body {
    background-image: url("/img/bg.jpg");
    background-color: #cccccc;
    background-repeat: repeat-y;
    background-attachment: fixed ;
    background-position: center;
    background-size: 100%;
}

h1 {
    color: #ffffff;
}

.active {
    color: #ffffff;
    background-color: #00ff00;
}

.pending {
    color: #ffffff;
    background-color: #ff8c00;
}

.down {
    color: #ffffff;
    background-color: #800000;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

#nodeTable td {
    text-align:center; 
    vertical-align:middle;
}

